body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

.container .header {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
}

.container .header hr {
    border: 1px solid black;
}

.container .header img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

.index {
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.index h2 {
    margin-top: 0;
    color: blue;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}

.index li {
    margin-bottom: 10px;
    list-style-type: none;
}

.index li a {
    text-decoration: none;
    margin: 5px;
}

.index li a:hover {
    color: aqua;
    transform: matrix(0.3, 0.3, 0.3);
}

.chapter {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border: 1px solid #f5f5f5;
    background-color: aliceblue;
    padding-left: 20px;
    border-radius: 10px;
}

.chapter .text {
    text-align: end;
    padding-right: 35px;
}

.chapter h2 {
    color: rgb(22, 106, 106);
}

.chapter p {
    margin-top: 10px;
    padding-bottom: 10x;
}

.chapter .back-to-top {
    display: flex;
    justify-content: end;
    padding-right: 35px;
}

.chapter .back-to-top a {
    text-decoration: none;
}

.chapter .back-to-top a:hover {
    color: aqua;
    transition: width 2s linear 1s;
}

